<<<<<<< HEAD
th, td{
    text-align: center;
    vertical-align: middle;
}

body {
    background-image: url("/static/img/gymMaxPower.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

=======
th, td{
    text-align: center;
    vertical-align: middle;
}

body{
    
    background: url(static/img/gimnasio.jpg);   
}

>>>>>>> 41072145d85b204857c4a4dbb8fdcbfd72693524
