{% extends "./base.html" %}

{% block title %} Edición de Clientes por Clase {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Edición de Cliente por Clase</h2>
        <div class="card">
            <div class="card-body">
                <form action="/clienteXclase/editarClienteXClase/" method="POST">{% csrf_token %}
                    
                    <div class="form-group">
                        <input type="date" id="dateFecha" name="dateFecha" value="{{ clienteXclase.fecha }}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtEstado" name="txtEstado" value="{{ clienteXclase.estado }}" class="form-control" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <select name="txtidCliente" class="form-control" required>
                            <option value="">Seleccione un Cliente</option>
                            {% for c in clientes %}
                            <option value="{{ c.idCliente }}" {% if c.idCliente == clienteXclase.idCliente.idCliente %}selected{% endif %}>
                                {{ c.apellido }}, {{ c.nombre }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="txtidClase" class="form-control" required>
                            <option value="">Seleccione una Clase</option>
                            {% for c in clases %}
                            <option value="{{ c.idClase }}" {% if c.idClase == clienteXclase.idClase.idClase %}selected{% endif %}>
                                {{ c.nombre }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
