{% extends "./base.html" %}

{% block title %} Edición de Entrenador {% endblock %}

{% block body %}
<div class="row"> 
    <div class="col-md-4 offset-md-4">
        <h2> Edición de Entrenador </h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarEntrenador/" method="POST">{% csrf_token %}
                    <!-- Campo oculto para el idEntrenador -->
                    <input type="hidden" name="idEntrenador" value="{{ entrenador.idEntrenador }}">
                    
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{ entrenador.nombre }}" class="form-control" placeholder="Ingrese Nombre" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtApellido" name="txtApellido" value="{{ entrenador.apellido }}" class="form-control" placeholder="Ingrese Apellido" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTelefono" name="txtTelefono" value="{{ entrenador.telefono }}" class="form-control" placeholder="Ingrese Teléfono" 
                         maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtDireccion" name="txtDireccion" value="{{ entrenador.direccion }}" class="form-control" placeholder="Ingrese Dirección" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
             </div>
        </div>
    </div>
</div>
{% endblock %}

