{% extends "./base.html" %}

{% block title %} Edición de Caja {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Caja</h2>
        <div class="card">
            <div class="card-body">
                <form action="/cajas/editarCaja/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <!-- El campo idCaja ha sido eliminado, ya que es autogenerado -->
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTipo" name="txtTipo" value="{{ caja.tipo }}" class="form-control" placeholder="Ingrese Tipo" 
                         maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="floatMonto" name="floatMonto" value="{{ caja.monto }}" step="0.01" class="form-control" placeholder="Ingrese Monto" 
                         required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="dateFecha" name="dateFecha" value="{{ caja.fecha }}" class="form-control" placeholder="Ingrese Fecha" 
                         required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
