{% extends "./base.html" %}

{% block title %} Edición de Producto {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2> Edición de Producto </h2>
        <div class="card">
            <div class="card-body">
                <form action="/productos/editarProducto/" method="POST">{% csrf_token %}
                    <input type="hidden" name="txtidProducto" value="{{ producto.id }}">
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{ producto.nombre }}" class="form-control" placeholder="Ingrese Nombre" 
                         maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtStock" name="txtStock" value="{{ producto.stock }}" class="form-control" placeholder="Ingrese Stock" 
                         maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
