{% extends "./base.html" %}

{% block title %} Gestión de Facturas {% endblock %}

{% block body %}
<div class="row"> 
    <div class="col-md-4 offset-md-4">
        <h2> Edición de Facturas </h2>
        <div class="card">
            <div class="card-body">
                <form action="/facturas/editarFactura/" method="POST">{% csrf_token %}
                    <input type="hidden" name="numFac" value="{{ facturas.numFac }}">
                    <div class="form-group">
                        <input type="text" id="txtnombreFac" name="txtnombreFac" value="{{ facturas.nombreFac }}" class="form-control" placeholder="Ingrese nombreFac"
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="dateFecha" name="dateFecha" value="{{ facturas.fecha }}" class="form-control" placeholder="Ingrese Fecha" required>
                    </div>
                    <div class="form-group">
                        <input type="number" step="0.01" id="floatImporte" name="floatImporte" value="{{ facturas.importe }}" class="form-control" placeholder="Ingrese Importe" required>
                    </div>
                    <div class="form-group">
                        <select name="txtidCaja" class="form-control">
                            <option value="">Seleccione una caja</option>
                            {% for c in cajas %}
                            <option value="{{ c.idCaja }}" {% if c.idCaja == facturas.idCaja.idCaja %}selected{% endif %}>{{ c.tipo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

