{% extends "./base.html" %}

{% block title %} Edición de Rutinas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Edición de Rutinas</h2>
        <div class="card">
            <div class="card-body">
                <form action="/rutinas/editarRutina/" method="POST">{% csrf_token %}
                    <input type="hidden" name="idRutina" value="{{ rutinas.idRutina }}">
                    <div class="form-group">
                        <input type="text" id="txtEjercicio" name="txtEjercicio" value="{{ rutinas.ejercicio }}" class="form-control" placeholder="Ingrese Ejercicio" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="integerCantidad" name="integerCantidad" value="{{ rutinas.integerCantidad }}" class="form-control" placeholder="Ingrese Cantidad" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="dateFecha" name="dateFecha" value="{{ rutinas.fecha }}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <select name="idCliente" class="form-control" required>
                            <option value="">Seleccione un cliente</option>
                            {% for cliente in clientes %}
                            <option value="{{ cliente.idCliente }}" {% if cliente.idCliente == rutinas.idCliente.idCliente %}selected{% endif %}>{{ cliente.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="idEntrenador" class="form-control" required>
                            <option value="">Seleccione un entrenador</option>
                            {% for entrenador in entrenadores %}
                            <option value="{{ entrenador.idEntrenador }}" {% if entrenador.idEntrenador == rutinas.idEntrenador.idEntrenador %}selected{% endif %}>{{ entrenador.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

