{% extends "./base.html" %}

{% block title %} gestion de recibos {% endblock %}

{% block body%}
<div class="row"> 
    <div class="col-md-4 offset-md-4">
        <h2> Edicion de recibos </h2>
        <div class="card">
            <div class="card-body">
                <form action="/recibos/editarRecibo/" method="POST">{% csrf_token %} 
                    <div class="form-group">
                        <input type="text" id="txtnumRecibo" name="txtnumRecibo" value="{{recibos.numRecibo}}" class="form-control" placeoholder="Recibo" 
                        minlength="6" maxlength="6" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="float" id="floatSueldo" name="floatSueldo" value="{{recibos.sueldo}}" class="form-control" placeoholder="Sueldo" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="dateFecha" name="dateFecha" value="{{recibos.fecha}}" class="form-control" placeoholder="Fecha" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <select name="txtidEntrenador"> 
                            <option value="">seleccione un entrenador</option>
                            {% for c in entrenadores %} 
                            <option value={{c.idEntrenador}}> {{c.nombre}}</option>   
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
             </div>
        </div>
</div>
{% endblock %}