{% extends "./base.html" %}

{% block title %} gestion de caja {% endblock %}

{% block body%}
<div class="row">
    <div class="col-sm-12 cold-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }} </strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2> Gestion de cajas </h2>
        <div class="card">
            <div class="card-body">
                <form action="/cajas/registrarCaja/" method="POST">{% csrf_token %} 
                    <div class="form-group">
                        <input type="text" id="txtidCaja" name="txtidCaja" class="form-control" placeoholder="idCaja" 
                        minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTipo" name="txtTipo" class="form-control" placeoholder="Tipo" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="float" id="floatMonto" name="floatMonto" class="form-control" placeoholder="Monto" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="dateFecha" name="dateFecha" class="form-control" placeoholder="Fecha" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
             </div>
        </div>
    </div>
    <div class="col-sm-12 cold-md-6 col-lg-8 col-xl-8">
        <h1>Listado de cajas</h1>
        <div class="table-responsive py-2">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>idCaja</th>
                        <th>Tipo</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cajas %} 
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.idCaja}}</td>
                        <td>{{c.tipo}}</td>
                        <td>{{c.monto}}</td>
                        <td>{{c.fecha}}</td>
                        <td><a href="edicionCaja/{{c.idCaja}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarCaja/{{c.idCaja}}" class="btn btn-danger btnElminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}