{% extends "./base.html" %}

{% block title %} Gestión de Cobro {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-12 col-xl-4">
        <h4> Gestión de Cobro </h4>
        
        <form action="/cobro/registrarCobro/" method="POST">{% csrf_token %}
            <input type="hidden" id="idOculto" name="idOculto">

            <select name="txtidCliente" id="txtidCliente" onchange="filtrarCobro()">
                <option value="">Seleccione un cliente</option>
                {% for c in cliente %}
                    <option value="{{ c.idCliente }}">{{ c.apellido }}, {{ c.nombre }}</option>
                {% endfor %}
            </select>

            <input type="date" id="dateFecha" name="dateFecha" class="form-control" placeholder="Ingrese Fecha" required> 

            <button type="submit" class="btn btn-success btn-block text-white">Crear registro</button>
        </form>
    </div>
</div>

<div class="row">  
    <div class="col-sm-12 col-md-6 col-lg-12 col-xl-8">
        <h4>Listado de cobros</h4>
        <div class="table-responsive py-2">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cliente</th>
                        <th>Clase</th>
                        <th>Costo Cuota</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cobros %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ c.idCliente }}</td>
                            <td>{{ c.idClase.nombre }}</td>
                            <td>{{ c.CostoCuota }}</td>
                            <td>{{ c.fecha }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
