{% extends "./base.html" %}

{% block title %} Gestión de Recibos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 cold-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }} </strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2> Gestión de Recibos </h2>
        <div class="card">
            <div class="card-body">
                <form action="/recibos/registrarRecibo/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="float" id="floatSueldo" name="floatSueldo" class="form-control" placeholder="Ingrese Sueldo"
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="dateFecha" name="dateFecha" class="form-control" placeholder="Ingrese Fecha"
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <select name="txtidEntrenador" class="form-control" required>
                            <option value="">Seleccione un entrenador</option>
                            {% for c in entrenadores %}
                            <option value="{{c.idEntrenador}}">{{c.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
             </div>
        </div>
    </div>
    <div class="col-sm-12 cold-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Recibos</h1>
        <div class="table-responsive py-2">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sueldo</th>
                        <th>Fecha</th>
                        <th>Entrenador</th>
                        <th>Apellido</th> <!-- Nueva columna para el apellido -->
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in recibos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.sueldo}}</td>
                        <td>{{c.fecha}}</td>
                        <td>{{c.idEntrenador.nombre}}</td> <!-- Nombre del entrenador -->
                        <td>{{c.idEntrenador.apellido}}</td> <!-- Apellido del entrenador -->
                        <td><a href="edicionRecibo/{{c.numRecibo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarRecibo/{{c.numRecibo}}" class="btn btn-danger btnElminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

