{% extends "./base.html" %}

{% block title %} Gestión de Rutinas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }} </strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Crear Rutina</h2>
        <div class="card">
            <div class="card-body">
                <form action="/rutinas/registrarRutina/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtEjercicio" name="txtEjercicio" class="form-control" placeholder="Ingrese Ejercicio" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="integerCantidad" name="integerCantidad" class="form-control" placeholder="Ingrese Cantidad" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="dateFecha" name="dateFecha" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <select name="txtidCliente" class="form-control" required>
                            <option value="">Seleccione un cliente</option>
                            {% for cliente in clientes %}
                            <option value="{{ cliente.idCliente }}">{{ cliente.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="txtidEntrenador" class="form-control" required>
                            <option value="">Seleccione un entrenador</option>
                            {% for entrenador in entrenadores %}
                            <option value="{{ entrenador.idEntrenador }}">{{ entrenador.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Rutinas</h1>
        <div class="table-responsive py-2">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ejercicio</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Entrenador</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rutina in rutinas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ rutina.ejercicio }}</td>
                        <td>{{ rutina.cantidad }}</td>
                        <td>{{ rutina.fecha }}</td>
                        <td>{{ rutina.idCliente.nombre }}</td>
                        <td>{{ rutina.idEntrenador.nombre }}</td>
                        <td><a href="edicionRutina/{{ rutina.idRutina }}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarRutina/{{ rutina.idRutina }}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

