
{% extends "./base.html" %}

{% block title %} gestion de facturas {% endblock %}

{% block body%}
<div class="row">
    <div class="col-sm-12 cold-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }} </strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2> Gestion de facturas </h2>
        <div class="card">
            <div class="card-body">
                <form action="/facturas/registrarFactura/" method="POST">{% csrf_token %} 
                    <div class="form-group">
                        <input type="text" id="txtnumFac" name="txtnumFac" class="form-control" placeoholder="Ingrese numFac" 
                        minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtnombreFac" name="txtnombreFac" class="form-control" placeoholder="Ingrese nombreFac" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="dateFecha" name="dateFecha" class="form-control" placeoholder="Ingrese Fecha" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="float" id="floatImporte" name="floatImporte" class="form-control" placeoholder="Ingrese Importe" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <select name="txtidCaja"> 
                            <option value="">seleccione una caja</option>
                            {% for c in cajas %} 
                            <option value={{c.idCaja}}> {{c.tipo}}</option>   
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
             </div>
        </div>
    </div>
    <div class="col-sm-12 cold-md-6 col-lg-8 col-xl-8">
        <h1>Listado de facturas</h1>
        <div class="table-responsive py-2">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>numFac</th>
                        <th>NombreFac</th>
                        <th>Fecha</th>
                        <th>Importe</th>
                        <th>idCaja</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in facturas %} 
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.numFac}}</td>
                        <td>{{c.nombreFac}}</td>
                        <td>{{c.fecha}}</td>
                        <td>{{c.importe}}</td>
                        <td>{{c.idCaja_id}}</td>
                        <td><a href="edicionFactura/{{c.numFac}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarFactura/{{c.numFac}}" class="btn btn-danger btnElminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}