{% extends "./base.html" %}

{% block title %} gestion de rutinas {% endblock %}

{% block body%}
<div class="row">
    <div class="col-sm-12 cold-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }} </strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2> Gestion de rutinas </h2>
        <div class="card">
            <div class="card-body">
                <form action="/rutinas/registrarRutina/" method="POST">{% csrf_token %} 
                    <div class="form-group">
                        <input type="text" id="txtidRutina" name="txtidRutina" class="form-control" placeoholder="idRutina" 
                        minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtEjercicio" name="txtEjercicio" class="form-control" placeoholder="Ejercicio" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="integer" id="integerCantidad" name="integerCantidad" class="form-control" placeoholder="cantidad" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="dateFecha" name="dateFecha" class="form-control" placeoholder="Fecha" 
                         maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <select name="txtidCliente"> 
                            <option value="">seleccione un cliente</option>
                            {% for c in cliente %} 
                            <option value={{c.idCliente}}> {{c.nombre}}</option>   
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="txtidEntrenador"> 
                            <option value="">seleccione un entrenador</option>
                            {% for c in entrenadores %} 
                            <option value={{c.idEntrenador}}> {{c.nombre}}</option>   
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
             </div>
        </div>
    </div>
    <div class="col-sm-12 cold-md-6 col-lg-8 col-xl-8">
        <h1>Listado de rutinas</h1>
        <div class="table-responsive py-2">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>idRutina</th>
                        <th>Ejercicio</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>idCliente</th>
                        <th>idEntrenador</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in rutinas %} 
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.idRutina}}</td>
                        <td>{{c.ejercicio}}</td>
                        <td>{{c.cantidad}}</td>
                        <td>{{c.fecha}}</td>
                        <td>{{c.idCliente_id}}</td>
                        <td>{{c.idEntrenador_id}}</td>
                        <td><a href="edicionRutina/{{c.idRutina}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarRutina/{{c.idRutina}}" class="btn btn-danger btnElminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}